@import url(media.scss);

$main-color: #484848;
$dop-color: #4b4b4b;
$red-color: #f36240;
$body-color: #e1f0f8;
$main-font-family: "Araial", sans-serif;
$font-size-title: 26px;
$font-size-main-text: 14px;


* {
	box-sizing: border-box;
}
body {
	background-color: $body-color;
	font-family: $main-font-family;
	color: $main-color;
	font-size: $font-size-main-text;
}
h1, h2, h3, ul, dd, blockquote, p {
	margin: 0;
	padding: 0;
}
.wrapper {
	box-sizing: border-box;
	width: 1145px;
	margin: 0 auto;
}
.clear::after {
	content: "";
	display: table;
	clear: both;
}
.header .container {
	background-color: #fff;
	padding-top: 15px;
}
.title {
	font-size: $font-size-title;
	color: $main-color;
	font-weight: normal;
}
.header {
	width: 100%;
	padding: 0 25px;
	background-color: #fff;
	padding-top: 30px;
}
.header-top {
	display: table;
	vertical-align: bottom;
	width: 100%;
	height: 128px;
}
.logo {
	display: table-cell;
	width: 245px;
	height: 128px;
	img {
		width: 100%;
	}
}
.price {
	display: table-cell;
	float: left;
	margin-left: 280px;
	a {
		color: $red-color;
		font-size: 23px;
		&:hover {
			text-decoration: none;
		}
	}
}
.contact {
	display: table-cell;
	// float: right;
	text-align: right;
	height: 128px;
	vertical-align: bottom;
	p {
		margin-block-start: 0;
		margin-block-end: 0;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-moz-margin-before: 0;
		-moz-margin-after: 0;
	}
	&__date {
		font-size: 16px;
	}
	&__phone {
		font-size: 30px;
	}
}
.header-menu {
	width: 100%;
	ul {
		display: block;
		width: 100%;
		list-style-type: none;
		-moz-padding-start: 0px;
		-moz-padding-end: 0px;
		-webkit-padding-start: 0px;
		-webkit-padding-end: 0px;
	}
	&__item {
		display: inline-block;
		border-right: 1px solid #5f6973;
		text-align: center;
		float: left;
		padding: 10px 45px;
		a{
			text-decoration: none;
			color: #5f6973;
			font-size: 24px;
		}
		&-active {
			background-color: #7bc3d5;
			a {
				color: #fff;
			}
		}
		&:hover {
			background-color: #7bc3d5;
			a {
				color: #fff;
			}
		}
		&:last-child {
			border-right: none;
		}
	}
}
.content-area .container {
	padding: 0;
}
.content-area__title {
	font-size: 61px;
	font-weight: normal;
}
.content-area__subtitle {
	font-size: $font-size-title;
	color: $dop-color;
}
.left-menu {
	box-sizing: border-box;
	display: block;
	background-color: #fff;
	width: 240px;
	float: left;
	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 30px;
	border-radius: 5px;
	margin-top: 35px;
	height: 100%;
	ul {
		margin-top: 15px;
	}
	&__title {
		text-align: left;
		display: block;
		color: $dop-color;
		font-size: 20px;
	}
	&__item {
		display: block;
		list-style-type: none;
		padding: 5px 0;
		a {
			color: #8a8a8a;
			font-size: $font-size-main-text + 2;
			&:hover {
				color: $red-color;
			}
		}
	}
}
.reference, .reviews {
	float: right;
	width: 877px;
	padding: 0 25px;
}
.main {
	box-sizing: border-box;
	margin-top: 35px;
	padding: 25px;
	padding-bottom: 145px;
	background-color: #fff;
	border-radius: 5px;
	float: left;
	margin-left: 28px;
	display: block;
	width: 877px;
	&__window {
		float: left;
		margin-top: 30px;
		padding-left: 57px;
		padding-right: 102px;
	}
	&__description {
		margin-top: 30px;
		margin-left: 102px;
	}
	&__title {
		font-size: 20px;
		color: $main-color;
		font-weight: 400;
		margin-top: 45px;
	}
	&__subtitle-window {
		font-size: 18px;
		color: #a6a6a6;
		text-align: center;
		margin-top: 60px;
	}
	&__subcolor {
		display: block;
		margin-top: 30px;
	}
}
.main__c-window {
	margin-top: 30px;
}
.c-window__items {
	display: inline-block;
	width: 62px;
	height: 60px;
	background-image: url('../img/color_window.png');
	background-repeat: no-repeat;
	position: relative;
	&:hover {
		cursor: pointer;
	}
	&:nth-child(1) {
		background-position: 0px 0px;
	}
	&:nth-child(2) {
		background-position: -68px 0px;
	}
	&:nth-child(3) {
		background-position: -136px 0px;
	}
	&:nth-child(4) {
		background-position: -204px 0px;
	}
	&:nth-child(5) {
		background-position: -275px 0px;
	}
	&:nth-child(6) {
		background-position: -343px 0px;
	}
	&:nth-child(7) {
		background-position: -411px 0px;
	}
}
.active::before {
	content: url(../img/gal.png);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 25%;
}
.list {
	list-style-type: none;
	.list__item {
		padding: 5px 0;
		&:last-child {
			padding-bottom: 0;
		}
		&::before {
			content: "•";
			color: $red-color;
			padding-right: 10px;
		}	
	}
}
.btn {
	display: inline-block;
	background-color: $red-color;
	padding: 15px 40px;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	&:hover {
		background-color: darken($red-color, 10%);
	}
	&:focus {
		background-color: lighten($red-color, 5%);
	}
}
.btn-area .btn {
	margin-top: 45px;
	font-size: 18px;
}
.subbtn {
	display: block;
	font-size: 14px;
	color: #8a8a8a;
	margin-top: 15px;
	&:hover {
		text-decoration: none;
	}
}

.reference {
	background-color: #fff;
	margin-top: 30px;
	border-radius: 5px;
	padding-top: 40px;
	padding-bottom: 40px;
	&__item {
		display: table;
		margin-bottom: 10px;
	}
	&__img, &__text-1, &__text-2 {
		display: table-cell;
		vertical-align: middle;
	}
	&__text-1 {
		padding-left: 35px;
	}
	&__text-2 {
		padding-left: 25px;
	}
	.mt30 {
		margin-top: 30px;
	}
	.title {
		margin-bottom: 25px;
	}
}
.reviews {
	padding: 0;
	margin-top: 45px;
	h2 {
		display: inline-block;
	}
	&__top-link {
		float: right;
		color: $red-color;
		margin-top: 10px;
		&:hover {
			text-decoration: none;
		}
	}
	&__list {
		background-color: #fff;
		border-radius: 5px;
		padding: 0 25px;
	}
	&__item {
		padding-top: 40px;
		margin-top: 20px;
	}
	&__name {
		font-size: 16px;
		color: #484848;
	}
	&__description {
		font-size: 14px;
		color: #8a8a8a;
	}
	&__text {
		margin-top: 15px;
	}
	&__link {
		margin-top: 25px;
		position: relative;
		a{
			color: $red-color;
			text-decoration: none;
			border-bottom: 1px dashed ;
			font-size: 16px;
			display: inline;
			margin-top: 25px;
			margin-left: 22px;
			&:hover {
				border-bottom: none;
			}
			&::before {
				content: url('../img/down_arrow.png');
				border-bottom: none;
				position: absolute;
				left: 0px;
				top: 3px;
			}
		}
	}
	.btn {
		margin: 35px 0;
	}
}
img[data-star="rating"] {
	margin-top: 15px;
}





































